parameters:
  level: max
  paths:
    - src
    - tests
  checkGenericClassInNonGenericObjectType: false
  checkMissingIterableValueType: true
  checkUninitializedProperties: true
  inferPrivatePropertyTypeFromConstructor: true
  reportUnmatchedIgnoredErrors: true

